@media only screen and (max-width: 991px) {
    .s_c {
        padding-top: 70px;
    }
}

.page-enter {
    transform: translateY(100%);
}

.page-enter-active {
    transform: translateY(0%);
    transition: all 400ms ease-out;
}

.page-exit {
    transform: translateY(0%);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.page-exit-active {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    transform: translateY(-130%);
    transition: all 400ms ease-out;
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1140px;
    }
}

/* Custom AOS distance */
@media screen {
    html:not(.no-js) body [data-aos='fade-up'] {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    html:not(.no-js) body [data-aos='fade-down'] {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    html:not(.no-js) body [data-aos='fade-right'] {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    html:not(.no-js) body [data-aos='fade-left'] {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    html:not(.no-js) body [data-aos='fade-up-right'] {
        -webkit-transform: translate3d(-10px, 10px, 0);
        transform: translate3d(-10px, 10px, 0);
    }

    html:not(.no-js) body [data-aos='fade-up-left'] {
        -webkit-transform: translate3d(10px, 10px, 0);
        transform: translate3d(10px, 10px, 0);
    }

    html:not(.no-js) body [data-aos='fade-down-right'] {
        -webkit-transform: translate3d(-10px, -10px, 0);
        transform: translate3d(-10px, -10px, 0);
    }

    html:not(.no-js) body [data-aos='fade-down-left'] {
        -webkit-transform: translate3d(10px, -10px, 0);
        transform: translate3d(10px, -10px, 0);
    }

    html:not(.no-js) body [data-aos='zoom-in-up'] {
        -webkit-transform: translate3d(0, 10px, 0) scale(0.6);
        transform: translate3d(0, 10px, 0) scale(0.6);
    }

    html:not(.no-js) body [data-aos='zoom-in-down'] {
        -webkit-transform: translate3d(0, -10px, 0) scale(0.6);
        transform: translate3d(0, -10px, 0) scale(0.6);
    }

    html:not(.no-js) body [data-aos='zoom-in-right'] {
        -webkit-transform: translate3d(-10px, 0, 0) scale(0.6);
        transform: translate3d(-10px, 0, 0) scale(0.6);
    }

    html:not(.no-js) body [data-aos='zoom-in-left'] {
        -webkit-transform: translate3d(10px, 0, 0) scale(0.6);
        transform: translate3d(10px, 0, 0) scale(0.6);
    }

    html:not(.no-js) body [data-aos='zoom-out-up'] {
        -webkit-transform: translate3d(0, 10px, 0) scale(1.2);
        transform: translate3d(0, 10px, 0) scale(1.2);
    }

    html:not(.no-js) body [data-aos='zoom-out-down'] {
        -webkit-transform: translate3d(0, -10px, 0) scale(1.2);
        transform: translate3d(0, -10px, 0) scale(1.2);
    }

    html:not(.no-js) body [data-aos='zoom-out-right'] {
        -webkit-transform: translate3d(-10px, 0, 0) scale(1.2);
        transform: translate3d(-10px, 0, 0) scale(1.2);
    }

    html:not(.no-js) body [data-aos='zoom-out-left'] {
        -webkit-transform: translate3d(10px, 0, 0) scale(1.2);
        transform: translate3d(10px, 0, 0) scale(1.2);
    }
}